<div class="container">
  <h1>Bienvenue !</h1>

  <% if logged_in? %>
    <h1>Vous êtes connecté.e au nom <%= current_user.username %>.</h1>
  <%end%>

  <div class="d-flex flex-column justify-content-center">
    <%= button_to "Connexion", '/login', method: :get%>
    <%= button_to "Inscription", '/users/new', method: :get%>
  </div>
</div>
