<div class="padding">
  <h1>Bienvenue !</h1>

  <% if logged_in? %>
    <script type="text/javascript">
      window.location.href="/home"  //redirige si connecté
    </script>
  <%end%>

  <div class="d-flex flex-column justify-content-center">
    <%= button_to "Connexion →", '/login', method: :post, class:"btn btn-primary btn-lg border border-dark p-3 me-3 mb-3" %>
    <%= button_to "Inscription →", '/users/new', method: :get, class:"btn btn-primary btn-lg border border-dark p-3 me-3 mb-3" %>
  </div>
</div>
