
<div class="container-fluid">

  <div class="container">
    <title>symBIOS</title>
    <h2>Répondez à toutes vos envies,<br>
    Tous vos besoins,</h2>
    <h1>Maintenant et sans limites.</h1>

    <%= image_tag ("landing.png")%>
  </div>

</div>
