
<div class="container-fluid">
  <title>symBIOS</title>
  <h2>Répondez à toutes vos envies,<br>
  Tous vos besoins,</h2>
  <h1>Maintenant et sans limites.</h1>
  <!-- <%= image_tag "app/assets/images/logo.png", alt = "logo"%> -->

</div>
