<div class="container">
  <div class="row">

    <div class="col col-7 align-self-center">
      <h2>Répondez à toutes vos envies,<br>
      Tous vos besoins,</h2>
      <h1>Maintenant et sans limites.</h1>

      <button type="button" class="btn btn-primary btn-lg button-full">Best-Seller</button>
      <button type="button" class="btn btn-primary btn-lg button-full">Parcourez notre catalogue</button>

    </div>

    <div class="col col-5">
      <%= image_tag("landing.png", class: "img-fluid")%>
    </div>

  </div>
</div>
