<div class="container home">

  <div class="row d-flex container">
    <div class="col-md-6 offset-md-1 align-self-center">
      <div class="mb-5">
        <h2>Répondez à toutes vos envies,<br>
        Tous vos besoins,</h2>
        <h1>Maintenant et sans limites.</h1>
      </div>
      <div>
        <button type="button" class="btn btn-primary btn-lg border border-dark p-3 me-3 mb-3">Best-Seller → </button>
        <button type="button" class="btn btn-primary btn-lg border border-dark p-3 mb-3">Parcourez notre catalogue →</button>
      </div>
    </div>

    <div class="col-md-5">
      <%= image_tag("landing.png", class: "img-fluid")%>
    </div>
  </div>

  <div class="row mb-4">
    <p>Découvrez votre futur compagnon et modifiez ses caractéristiques ↓</p>
  </div>

  <div class="row container gap-3 cards-robot d-flex flex-wrap"> <!--Affichage cartes-->

    <% @robots.each do |robot|%>

      <div class="card-robot col-12 col-md-3">
        <%= image_tag(robot.image, class: "img-fluid")%>
        <div class="d-flex justify-content-center">
          <a href="/robots/<%=robot.id%>" class="btn btn-light border border-dark"> <%= robot.name%> →</a>
        </div>
      </div>

    <%end%>

  </div>

</div>
