<div class="container">
  <div class="row d-flex">

    <div class="col-md-7 align-self-center">
      <div class="mb-5">
        <h2>Répondez à toutes vos envies,<br>
        Tous vos besoins,</h2>
        <h1>Maintenant et sans limites.</h1>
      </div>

      <button type="button" class="btn btn-primary btn-lg">Best-Seller</button>
      <button type="button" class="btn btn-primary btn-lg">Parcourez notre catalogue</button>

    </div>

    <div class="col-md-5">
      <%= image_tag("landing.png", class: "img-fluid")%>
    </div>

  </div>
</div>
