<div class="padding">

  <div class="row d-flex">
    <div class="col-md-6 offset-md-1 align-self-center">
      <div class="mb-5">
        <h2>Répondez à toutes vos envies,<br>
        Tous vos besoins,</h2>
        <h1>Maintenant et sans limites.</h1>
      </div>
      <div>
        <a href="/robots/2" class="btn btn-primary btn-lg border border-dark p-3 me-3 mb-3">Best-Seller →</a>
        <a href="#catalogue" class="btn btn-primary btn-lg border border-dark p-3 me-3 mb-3">Parcourez notre catalogue →</a>
      </div>
    </div>

    <div class="col-md-5">
      <%= image_tag("landing.png", class: "img-fluid")%>
    </div>
  </div>

  <div class="row my-5" id = "catalogue">
    <p>Découvrez votre futur compagnon ↓</p>
  </div>

  <div class="row gap-3 cards-robot d-flex flex-nowrap"> <!--Affichage cartes-->

    <% @robots.each do |robot|%>

      <div class="card-robot col-10 col-md-3">
        <%= image_tag(robot.image, class: "img-fluid")%>
        <div class="d-flex justify-content-center">
          <a href="/robots/<%=robot.id%>" class="btn btn-light border border-dark"> <%= robot.name%> →</a>
        </div>
      </div>

    <%end%>

  </div>

</div>
