/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: #EEBE15;
$secondary : #FFCFD8;
$dark : #161515;
$info : #8D8D8D;
$light : #FFFFFF;

@import "bootstrap";

.btn {
  border-radius: 20px;
}

.cards-robot {

}

.card-robot {
  min-height: 20em;
  border-radius: 20px;
  background-color: $secondary;
  padding:2rem;
}

.home, .welcome {
  padding-top: 10vh;
}

.header {
  position:fixed;
  width : 100vw !important;
  top: 0; left: 0;
  transform: translate(calc(50vw - 50%));
}

.bottom_footer {
  min-height: 10em;
}
