/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: #EEBE15;
$secondary : #FFCFD8;
$dark : #161515;
$info : #8D8D8D;
$light : #FFFFFF;

@font-face {
  font-family: 'Inter';
  src: url('Inter-Regular.ttf');
}

@import "bootstrap";

body {
  font-family: 'Inter';
}

.btn {
  border-radius: 20px;
  color: $dark !important;
}

.cards-robot {
  padding-bottom: 3em;
  overflow-x: auto;
}

.card-robot {
  min-height: 20em;
  border-radius: 20px;
  background-color: $secondary;
  padding:2rem;
}

.padding {
  padding-top: 10vh;
}

.bottom_footer {
  min-height: 10em;
}

.header {
  position: sticky;
  top: 0;

  p {
    margin: 0 auto !important;
  }
}
