/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$main-color : #EEBE15;
$main-color-2: #FFCFD8;
$text-1 : #161515;
$text-2 : #8D8D8D;
$background : #FFFFFF;

.button-full {
  background-color: $main-color !important;
  border: $main-color 1px !important;
  color: $text-1;
}
