<div class="container">
  <div class="row d-flex">
    <div class="col">
      <h2>Acheter / Louer</h2>
      <p>Cartes Cadeaux</p>
      <p>Modes de paiement</p>
      <p>Retour</p>
    </div>
    <div class="col">
      <h2>À propos</h2>
      <p>Notre histoire</p>
      <p>Le blog</p>
      <p>Contact</p>
      <p>Ils parlent de nous</p>
    </div>
    <div class="col">
      <h2>Aide</h2>
      <p>FAQ</p>
      <p>Le blog</p>
      <p>Contact</p>
      <p>Ils parlent de nous</p>
    </div>
    <div class="col d-flex flex-column justify-content-between">
      <button type="button" class="btn btn-outline-primary">Télécharger l'application</button>
      <div class="div">
        <%= image_tag("fb.svg", class: "img-fluid", style: "height: 40px")%>
        <%= image_tag("ytb.svg", class: "img-fluid", style: "height: 40px")%>
        <%= image_tag("insta.svg", class: "img-fluid", style: "height: 32px")%>
        <%= image_tag("mail.svg", class: "img-fluid", style: "height: 40px")%>
      </div>
      <p>©symBIOS, 2022</p>
    </div>
  </div>
</div>
